build
**/build
**/src/test/java/exploration
.gradle
spring-social-core/src/test/java/exploration
**/.classpath
**/.project
**/.settings
**/bin
samples/**/target
samples/**/.classpath
samples/**/.project
samples/**/.settings
samples/**/.springBeans
samples/**/bin
samples/**/src/main/webapp/META-INF
